{% extends 'base.html' %}

{% block head %}
<title>Edit Post</title>
 {% endblock %}



{% block body %}
<br>
<h1>Contact</h1>
<br>
<ul class="list-group list-group-flush">
  <li class="list-group-item">e-mail: ifuymak@gmail.com</li>
  <li class="list-group-item">GitHub: https://github.com/HRK104</li>
  <li class="list-group-item">LinkedLn: https://ie.linkedin.com/in/kai-suzuki-3baa28180</li>
  <li class="list-group-item">Wantedly: https://www.wantedly.com/users/98344467?ql=gaJpZM4Anr8L</li>
</ul>
<br>
<p>You can contact me trhough anything above !</p>


 {% endblock %}