{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<!-- <h1>Home Page</h1> -->
<!-- <br>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Kai Suzuki's Website</h1>
            <p>Welcome to Kai Suzuki's Website! </p>
            <p>Go visit me at my <a href="https://github.com/HRK104">github</a> </p>
            <p>You can check <a href="https://drive.google.com/file/d/1RWBOGRYKiYuEblDpMZuGP98bgLmy4aq5/view?usp=sharing">my CV from here</a></p>
            <p>
                <a class="btn btn-primary" href="/works" role="button">Go To my works &raquo;</a>
            </p>
        </div>
    </div>
</main> -->
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

    <br>
    <br>
	<!-- <image src="https://cdn.pixabay.com/photo/2015/11/07/11/46/fashion-1031469_1280.jpg"
	height=450 width=100%></image>

	<hr></hr>
	 -->
	<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Kai Suzuki's Website! </h1>
        <br>
        <p>Go visit me at my <a href="https://github.com/HRK104">github</a> </p>
        <p>You can check <a href="https://drive.google.com/file/d/1RWBOGRYKiYuEblDpMZuGP98bgLmy4aq5/view?usp=sharing">my CV from here</a></p>
  </div>
</div>
	

	<div class="card-group">
		<div class="card" width="100" height ="300">
			<a href="/works">
				<img src ="https://publicdomainq.net/images/201611/09s/publicdomainq-0002457gei.jpg"class="	card-img-top" alt="..." height ="500">
				
			</a>
			<div class="card-body">
				<a href="/works">
				<h5 class="card-title">My works</h5>
				</a>
				<p class="card-text">My works I have done </p>
			</div>
		</div>
		<div class="card" width="100" height ="300">
			<a href="/contact">
				<img src="https://publicdomainq.net/images/201701/29s/publicdomainq-0005369wzr.jpg" class="card-img-top" alt="..." height="500">
			</a>
			<div class="card-body">
				<a href="/contact"><h5 class="card-title">Contact</h5></a>
				<p class="card-text">email, github, Linkedln and Wantedly</p>
			</div>
		</div>
		<!-- <div class="card" width="100" height ="300">
			<a href="uploadimage">
				<img src="https://esslab.jp/~ess/images/fashion/results/000151_gt.png" class="card-img-top" alt="..." height ="500">
			</a>
			<div class="card-body">
				<a href="uploadimage"><h5 class="card-title">Upload Image</h5></a>
				<p class="card-text">Simply upload your image and recieve the same image with clothing item segmented using our AI</p>
			</div>
		</div> -->
	</div>
    <br>
    <br>


</body>
</html>
{% endblock %}